# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/app/build
/hbcframe/build
/IMKit/build
local.properties
build
gradle
.gradle
.idea
*.iml
out
gen
*.DS_Store
.DS_Store
app/app.iml
hbcframe/hbcframe.iml
polygonimageview/polygonimageview.iml
