<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hugboga.custom">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_KEY}" />
        <!-- 标识版本渠道 -->
        <meta-data
            android:name="APP_CHANNEL"
            android:value="${APP_CHANNEL}" />
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="${RONG_CLOUD_APP_KEY}" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55ccb4cfe0f55ab500004a9d" />

        <activity
            android:name=".LoadingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"></activity>

        <service
            android:name=".service.LogService"
            android:process="com.hugboga.custom.hbclog" />
        <service
            android:name=".service.LogService"
            android:process="com.hugboga.custom.hbclog" />

        <activity
            android:name=".activity.IMChatActivity"
            android:label="@string/title_activity_imchat"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.hugboga.custom"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.NewOrderActivity"
            android:label="@string/letter_chat_btn"
            android:screenOrientation="portrait" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- alipay sdk end -->
    </application>

</manifest>
