<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hugboga.custom">

    <!-- Required 自定义用来收发消息的相关权限 -->
    <permission
        android:name="com.hugboga.custom.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.hugboga.custom.permission.JPUSH_MESSAGE" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_KEY}" />
        <!-- 标识版本渠道 -->
        <meta-data
            android:name="APP_CHANNEL"
            android:value="${APP_CHANNEL}" />
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="${RONG_CLOUD_APP_KEY}" />
        <!--<meta-data-->
            <!--android:name="UMENG_APPKEY"-->
            <!--android:value="55ccb4cfe0f55ab500004a9d" />-->


        <activity
            android:name=".LoadingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="znn"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.hugboga.custom"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.DatePickerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.LuggageInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.ChooseCityNewActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.OrderSelectCityActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WebInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.DailyWebInfoActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.OrderDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SkuListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ChooseCityActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SkuDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SingleNewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PickSendActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SkuNewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ChooseAirActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.PickFlightListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ManLuggageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.OrderNewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CollectGuideListActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.GuideDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.EvaluateActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.LargerImageActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.EvaluateListActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.InsureInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.InsureActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.AddInsureActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.PayResultActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.ChoosePaymentActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.CouponActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.OrderCancelActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.OrderEditActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.ShareGuidesActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SelectCarActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.OrderInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PoiSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ChooseOtherActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ChooseCountryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.TravelFundActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ChooseAirPortActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SetPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BindMobileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ChangeMobileActivtiy"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PersonInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ForgetPasswdActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ServicerCenterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ChangePswActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CallBackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.TravelFundRecordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.IMChatActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NewOrderActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.LogService"
            android:process="com.hugboga.custom.hbclog" />

        <!--<activity-->
        <!--android:name=".activity.IMChatActivity"-->
        <!--android:label="@string/title_activity_imchat"-->
        <!--android:screenOrientation="portrait">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->

        <!--<category android:name="android.intent.category.DEFAULT" />-->

        <!--<data-->
        <!--android:host="com.hugboga.custom"-->
        <!--android:pathPrefix="/conversation/"-->
        <!--android:scheme="rong" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <!-- 剪切图片 -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- alipay sdk end -->

        <!-- JPush sdk begin -->
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.hugboga.custom" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="com.hugboga.custom" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined.    用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.PushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.hugboga.custom" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
